.row
  .small-10.small-centered.large-4.large-centered.columns
    .flip-container{:ontouchstart => "this.classList.toggle('hover');"}
      .flipper
        .front
          .word.text-center=@card["kanji"]
        .back.hide
          .row
            .small-10.small-centered.large-4.large-centered.columns
              %h5.text-center.subheader Onyomi
              .text-center=@card["onyomi"].join(", ")
          .row
            .small-10.small-centered.large-8.large-centered.columns
              %h5.text-center.subheader Kunyomi
              .text-center=@card["kunyomi"].join(", ")
          .row
            .small-10.small-centered.large-8.large-centered.columns
              %h5.text-center.subheader Definitions
              .text-center=@card["definitions"].join(", ")
.row
  .small-7.large-8.columns
    %a.button.expand#next-card{:href => "#"} Load Next Card
  .small-5.large-4.columns
    %a.button.expand#flip-card{:href => "#"} Flip Card
.row
  .small-7.large-8.columns
    Page 1 of #{@card[:total_num_pages]}
