/*
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.word { font-size: 15em; }
.flip-container {
    height: 380px;
}
.back { padding-top: 20%; }
.flip-container, .front, .back {

}
