/*
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.word { font-size: 15em; }
.vocab { font-size: 12em; }
.small-vocab { font-size: 4em; }
.small-word { font-size: 9em; }
.flip-container {
    height: 380px;
}
.back { padding-top: 20%; }
.flip-container, .front, .back {

}
